<template name="postEdit">
  <form class="main form page">
      <div class="dropdown">
    <button name="category" id="category" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Career</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Family</a></li>
      <li><a href="#">Financial</a></li>
      <li><a href="#">Fun</a></li>
      <li><a href="#">Physical</a></li>
      <li><a href="#">Social</a></li>
      <li><a href="#">Spiritual</a></li>
    </ul>
  </div>
  <br>
  <!-- need to store category -->

  <div class="postImage">
  <label class="control-label">Select File</label>
  <input name="image" id="input-1" type="file" class="file">
  </div>
  <br>

    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Project Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Your Project Title" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'summary'}}">
      <label class="control-label" for="summary">Summary</label>
      <div class="controls">
          <input name="summary" id="summary" type="text" value="" placeholder="Brief summary" class="form-control"/>
          <span class="help-block">{{errorMessage 'summary'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'introduction'}}">
      <label class="control-label" for="introduction">Introduction to project</label>
      <div class="controls">
          <input name="introduction" id="introduction" type="text" value="" placeholder="Short description of why you want to fulfill this" class="form-control"/>
          <span class="help-block">{{errorMessage 'introduction'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'list'}}">
      <label class="control-label" for="list">List of items required</label>
      <div class="controls">
          <input name="list" id="list" type="text" value="" placeholder="All the items you need to accomplish this" class="form-control"/>
          <span class="help-block">{{errorMessage 'list'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'tags'}}">
      <label class="control-label" for="tags">Related Tags</label>
      <div class="controls">
          <input name="tags" id="tags" type="text" data-role="tagsinput" placeholder="E.g. guitar, soccer"> 
          <span class="help-block">{{errorMessage 'tags'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>