<template name="myProfile">
<head>
    
 <title>My Profile</title>

    <style>
    .circular-image {
    border-radius: 100%;
    }
    </style>

</head>

<body>
<div class = "container">
  <div class = "container-title"> 
  </div>

   <div class="relative">
   <a href="#" class="btn primary">
  <img class="picture" src="images/education.jpg" alt="" width="550"></a>
  </div>

  <div class="reviews"> 
  <!-- code for user reviews --> 
  </div>

  <div class="postlist">
  <!-- display the post if the user submitted a post before -->
  </div>

  <div class="diary">
  <!-- display the user's diary (do only if got time) -->
  </div>

</div>
</body>
</template>