<template name="myProfile">
<head>
    
 <title>My Profile</title>

    <style>
    .circular-image {
    border-radius: 100%;
    }
    </style>

</head>

<body>
<div class = "container">
  <div class = "container-title"> 
      <h1>{{domain}} My Profile</h1>
  </div>

   <div class="relative">
   <a href="#" class="btn primary">
  <img class="picture" src="images/education.jpg" alt="" width="550"></a>
  </div>

  <div class="reviews"> 
  <!-- code for user reviews --> 
  </div>

  <div class="postlist">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:30%"> 30%
      </div>
    </div>
  <!-- display the post if the user submitted a post before -->
  </div>

  <div class="diary">
  <!-- display the user's diary (do only if got time) -->
  </div>

</div>
</body>
</template>