<template name="myProfile">
<head>
    
 <title>My Profile</title>

    <style>
    .info-overall {
      border-style: solid;
    }
    .align-right {
      text-align: center;
      padding-right: 25px;
      padding-bottom: 25px;

    }
   .relative {
    float: left;
    padding-left: 25px;
   }
   .container {
   
   }
    </style>

</head>

<body>
  <h1>{{domain}} My Profile</h1>
<div class = "container">
  <div class = "container-title"> 

  </div>

  <div class="info-overall">
    <div class="relative">
    <a href="#" class="btn primary">
    <img class="picture" src="images/profilepic.png"></a>
    </div>

    <div class="align-right">
    <br><br><br>
    <p><b><u>Infomation</u></b> <br>
    <b>Name:</b> Alicia Roberts <br>
    <b>Age:</b> 23 <br>
    <b>Email Address:</b> aliciar@gmail.com <br>
    <b>DOB:</b> 23/08/1993 <br>
    <b>Description:</b> Hi, I'm Alicia. I'm on this platform to make new friends and to fulfil my dream of becoming an air stewardess. Any help or advice would be greatly appreciated. <br>

    <br><br>
    </p>
    </div>
  </div>

<br>
  <div class="reviews"> 
  <!-- code for user reviews --> 
  </div>

  <div class="postlist">
    <p> Progress</p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:30%"> 30%
      </div>
    </div>
  <!-- display the post if the user submitted a post before -->
   <div class="posts-container">
  <!-- code here for displaying the posts in that category-->
     {{#each posts}}
      {{> postItem}}
      <br><br><br><br><br><br><br><br><br><br><br><br>
        {{/each}}
  </div>
  </div>

  <div class="diary">
  <!-- display the user's diary (do only if got time) -->
  </div>

</div>
</body>
</template>